<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <membership defaultProvider="MySQLMembershipProvider" />
    </system.web>
    <system.webServer>
        <handlers>
            <add name="CGI for HTML" path="*.html" verb="*" modules="CgiModule" scriptProcessor="C:\Program Files\PHP\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
